.top {
    font-size: 50px;
    color: #678943
}

#next{
    font-size: 30px;
    color: #444444;
}

.space {
    margin-left: 2%;
}

#caroSize {
    height: 75%;
    width: 75%;
}

.resize {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }